<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.willyousurvive">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Will You Survive?"
        android:roundIcon="@mipmap/biohazard"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".Resultat"></activity>
        <activity android:name=".Question15" />
        <activity android:name=".Question14" />
        <activity android:name=".Question13" />
        <activity android:name=".Question12" />
        <activity android:name=".Question11" />
        <activity android:name=".Question10" />
        <activity android:name=".Question9" />
        <activity android:name=".Question8" />
        <activity android:name=".Question7" />
        <activity android:name=".Question6" />
        <activity android:name=".Question5" />
        <activity android:name=".Question4" />
        <activity android:name=".Question3" />
        <activity android:name=".Question2" />
        <activity android:name=".Question1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>